.contacts {
   /* margin-top: 6px; */
    padding-top: 15px;
    font-style: normal;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.contacts__phone {
    margin-top: -7px;
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    margin-top: -7px;
    position: relative;   
    transition: 0.4s;
}
.contacts__dropdown-title:hover .contacts__dropdown-title__menu::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    /* background: #ededed; */
    border-bottom: 10px solid #ededed;
    border-left: 10px solid transparent;
    border-right:10px solid transparent;
    right:39px;
    bottom: 70px;
    
    display: block;
}
.contacts__dropdown-title:hover .contacts__dropdown-title__menu {
    display: block;

}
.contacts__dropdown-title__menu{
    position: absolute;
    width: 156px;
    height: 70px;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
    background: #EDEDED;
    border-radius: 5px;
    top:100%;
    display: none;
    margin-left: 32px;
    margin-top: 4px;
    font-weight: bold;
}
.contacts__dropdown-title__menu::after{
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}
.contacts__dropdown-title__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 14px 17px;
    
}
.contacts__dropdown-title__item--semi{
    font-weight: 600;
}
.contacts__desc {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
.contacts__dropdown-title__link{
    
    text-decoration-line: underline;
    font-size: 13px;
    color: #98A4A8;
}