.logo {
    display: block;
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-right: 260px;
    
}

.footer__col > .logo {
    margin-right: 130px;
}

.welcome-logo {
    display: block;
    font-weight: 700;
    font-size: 72px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 24px;
    
}